/* External CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #b0c4de;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #fff0d5;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    padding: 1rem;
}

section {
    background-color: #d5f6e3;
    padding: 1rem;
    margin-bottom: 1rem;
}

article {
    background-color: #ffd5d5;
    padding: 1rem;
}

aside {
    background-color: #e5d4f6;
    padding: 1rem;
    width: 30%;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

footer {
    background-color: #ffe1b5;
    text-align: center;
    padding: 1rem;
}
